.nav-item {
  padding: 10px 20px;
  border-radius: 10px;
  margin-left: 10px;
  cursor: pointer;
}

nav .active {
  background-color: rgb(5, 150, 105) !important;
  color: white;
}
.herodiv .herodiv-div {
  width: 100%;
  height: auto;
}

.activebtn {
  background-color: rgb(5, 150, 105) !important;
  color: white !important;
  max-width: max-content;
}

.cross-icon {
  top: 10px;
  right: 10px;
  font-size: 30px;
}
.brands img {
  margin: 10px 0;
}
.srvc-bg{
  background-color: rgb(229, 231, 235);
}
